.idea
manage.py
core/wsgi.py
*.pyc
*.swp
*.mo
.pyc
.coverage
settings_dev.py
local_settings.py
fabfile.py
fab_task
fab_task/__init__
fab_task/deploy.py
fab_task/prepare_deploy.py
core/local_settings.py
core/test_settings_local.py
.env
env
tags
os
sys
htmlcov
src
src/**
core/static/**
run.sh
.jscsrc
test-results.xml
coverage.xml
.cache/v/cache/lastfailed
/services/rescommand.py
/usercfg
*sublime*
